@import url("global.css");
@import url("footer.css");
@import url("header.css");

main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
  height: 100%;
  gap: var(--space-8);
}

form {
  background-color: var(--color-white);
  padding: var(--space-8);
  border-radius: var(--space-2);
  box-shadow: 0rem var(--space-2) var(--space-6) 0rem
  var(--color-card-drop-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  overflow: hidden;
  position: relative;
  min-height: 650px;
  min-width: 450px;
  transition: 0.3s;
}

/* ---------- FORM ---------- */

form h1 {
  font-size: var(--text-2xlarge);
}

form h4 {
  margin-top: var(--space-4);
  font-size: var(--text-large);
  font-weight: 400;
}

fieldset {
  display: grid;
  gap: var(--space-4);
  border: none;
  transition: 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: var(--space-12);
  padding-inline: var(--space-8);
}

label {
  display: flex;
  flex-direction: column;
}

input {
  border: var(--space-px) var(--color-input-border) solid;
  border-radius: var(--space-2);
  padding: var(--space-2);
  width: 100%;
}

.country-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-2);
  align-items: center;
}

#submit-div {
  position: absolute;
  bottom: 0;
  margin-bottom: var(--space-8);
  padding-inline: var(--space-8);
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  transition: 0.3s;
}

#continue-shopping {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

#continue-shopping svg {
  width: 25px;
  stroke: var(--color-primary);
}

#next {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--space-2);
  padding: var(--space-2) var(--space-8);
  transition: 0.3s;
  width: fit-content;
  margin-left: auto;
}

#previous {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: 0px 8px 24px 0px var(--color-card-drop-shadow);
  border: none;
  border-radius: var(--space-2);
  padding: var(--space-2) var(--space-8);
  transition: 0.3s;
  width: fit-content;
  margin-right: auto;
  opacity: 0;
}

#submit-form-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--space-2);
  padding: var(--space-2) var(--space-8);
  transition: 0.3s;
  width: fit-content;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: auto;
}

#submit-form-btn:hover {
  box-shadow: 0px var(--space-2) var(--space-6) 0px
    var(--color-card-drop-shadow);
}

/* ---------- INDICATOR ---------- */

#indicator {
  position: absolute;
  display: flex;
  gap: var(--space-2);
  top: 17px;
  right: 0;
  left: 0;
  margin-inline: auto;
  justify-content: center;
  transition: 0.3s;
  width: fit-content;
}

.indicator {
  width: var(--space-3);
  height: var(--space-3);
  transition: 0.3s;
  border-radius: 100%;
  transform: scale(0.8);
  background-color: var(--color-dark-low-opacity);
}

.selected-indicator {
  transform: scale(1);
  background-color: var(--color-primary);
}

/* ---------- PRODUCT ---------- */

#product-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

#product-container h5 {
  font-size: var(--text-large);
  margin-left: auto;
}

#product-container h5 span {
  font-size: var(--text-base);
  color: var(--color-dark);
}

.basket-product {
  display: flex;
  gap: var(--space-4);
}

@-moz-document url-prefix() {
  .basket-img-container {
    background-color: var(--color-white);

    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px var(--color-card-drop-shadow);
  }

  .basket-img {
    padding: var(--space-2);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    top: 0;
    left: auto !important;
    height: auto;
    object-fit: contain;
    object-position: center;
  }
}

.basket-img-container {
  background-color: var(--color-white);

  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.basket-img {
  padding: var(--space-2);
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  height: auto;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 900px) {
  form {
    min-width: 300px;
    padding: var(--space-4);
    width: 100%;
    max-width: 500px;
  }

  fieldset {
    padding: var(--space-4);
  }

  form h1 {
    font-size: var(--text-xlarge);
  }

  #submit-div {
    padding: var(--space-4);
    margin-bottom: var(--space-4);
  }

  #indicator {
    top: -455px;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* ---------- FORM ANIMATION ---------- */

.opacity {
  opacity: 1 !important;
}

.hide {
  display: none;
}

.next-btn-allow {
  background-color: var(--color-primary);
}

.slide-to-left {
  transform: translateX(-100%);
}

.slide-to-center {
  transform: translateX(0%);
}

.slide-to-right {
  transform: translateX(100%);
}

label {
  position: relative;
}

/* VALIDATION POPUP */
#input-popup-container {
  position: absolute;
  top: 105%;
  left: 0%;
  z-index: 100;
  pointer-events: none;
  width: 100%;
}

.input-popup {
  position: relative;
  font-size: var(--text-small);
  background-color: var(--color-white);
  border: solid 1px var(--color-input-border);
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  gap: 0.25rem;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 0px 8px 24px 0px var(--color-card-drop-shadow);
}

.popup-svg {
  stroke: var(--color-white);
  background: var(--color-input-message);
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.btn-shop {
  background-color: var(--color-primary);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: var(--space-2);
  width: 100%;
  color: var(--color-white);
  border-radius: var(--space-2);
  font-size: var(--text-base);
  transition: all 0.15s ease;
  cursor: pointer;
}

.space {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.space p{
  font-size: var(--text-xlarge);
}