@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root{
  /* Colors */
  --color-primary: #580ef6;
  --color-dark: #3d3a50;
  --color-dark-low-opacity: rgba(61, 58, 80, 0.514);
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #f7f7f7;
  --color-active-filter: #dbdbdb;
  --color-filter-hover: #ededed;
  --color-input-border: rgba(179, 179, 179, 0.692);
  --color-primary-darker: rgb(63, 13, 172);
  --color-card-drop-shadow: rgba(24, 39, 72, 0.15);
  --color-basket-notification: hsl(0, 100%, 50%);
  --color-gradient-bg: rgba(245, 246, 252, 0.52);
  --color-gradient-bg-two: rgba(117, 19, 93, 0.73);
  --color-error-msg: #ff0000;
  --color-input-message: #ffa500;
  --color-valid: #008000;
  
  ::backdrop {
    --color-backdrop: #000000;
  }

  /* Font family */
  --font-rounded: "Nunito", sans-serif; /* rounded corners on characters */
  --font-sans: "Nunito Sans", sans-serif; /* regular */

  /* Font Sizes */
  --text-xsmall: clamp(0.64rem, 0.7133rem - 0.0946vw, 0.6944rem);
  --text-small: clamp(0.8rem, 0.8446rem - 0.0576vw, 0.8331rem);
  --text-base: clamp(1rem, 1rem + 0vw, 1rem);
  --text-large: clamp(1.2rem, 1.1826rem + 0.087vw, 1.25rem);
  --text-xlarge: clamp(1.44rem, 1.3974rem + 0.213vw, 1.5625rem);
  --text-2xlarge: clamp(1.7281rem, 1.6499rem + 0.3913vw, 1.9531rem);
  --text-3xlarge: clamp(2.0738rem, 1.9459rem + 0.6391vw, 2.4413rem);
  --text-4xlarge: clamp(2.4881rem, 2.292rem + 0.9804vw, 3.0519rem);

  /* spacing for padding/margin/gap/border-radius  */
  --space-px: 1px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;
  --space-28: 7rem;
  --space-32: 8rem;
  --space-40: 10rem;
  --space-48: 12rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-size: var(--text-base);
  color: var(--color-dark);
}

*::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

body {
  background-color: var(--color-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}


main {
  max-width: 1440px;
  margin-inline: auto;
  padding: var(--space-8) var(--space-16);
}

@media (max-width: 768px) {
  main {
    padding: var(--space-8) var(--space-4);
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

