@import url("global.css");
@import url("footer.css");
@import url("header.css");


main {
  width: 100%;
  opacity: 1;
}

/* ---------- SPLASH CARD/OFFER ---------- */

.splash {
  height: 60vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

.splash-cta {
  height: 100%;
  background-color: var(--color-dark);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-8);
  border-radius: 0.5rem 0 0 0.5rem;
}

.splash-cta-container {
  display: grid;
  width: fit-content;
  gap: var(--space-8);
}

.splash-cta-container h1 {
  font-size: var(--text-3xlarge);
  max-width: 18ch;
  color: var(--color-white);
  font-weight: 700;
}

.splash-cta-container h2 {
  font-weight: 300;
  color: var(--color-grey);
  font-size: var(--text-large);
}
.splash-cta-container span {
  color: inherit;
  font-weight: 700;
}

.splash-cta-container button {
  display: flex;
  align-items: center;
  line-height: 1.5;
  width: 100%;
  gap: var(--space-2);
  width: fit-content;
  padding: var(--space-2) var(--space-16);
  font-size: var(--text-large);
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: var(--space-2);
  border: none;
  text-transform: uppercase;
  box-shadow: 0px var(--space-2) var(--space-6) 0px var(--color-card-drop-shadow);
  transition: 0.3s;
}

.splash-cta-container button::after {
  content: "→";
  color: inherit;
}

.splash-cta-container button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.splash-image-container {
  position: relative;
  transform: scale(1);
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px var(--space-2) var(--space-6) 0px var(--color-card-drop-shadow);
  border-radius: 0px var(--space-2) var(--space-2) 0px;
  overflow: hidden;
}

.splash-image-placeholder {
  position: absolute;
  background: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@media (max-width: 768px) {
  .splash {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .splash-image-container {
    aspect-ratio: 1/1;
    border-radius: 0px 0px var(--space-2) var(--space-2);
    display: none;
  }

  .splash {
    height: 100%;
  }

  .splash-cta {
    border-radius: var(--space-2);
    padding: var(--space-8);
  }
}

/* ---------- PRODUCR DISPLAY/PRODUCT GRID ---------- */

section#catalog {
  display: grid;
  grid-template-columns: var(--space-48) 1fr;
  gap: var(--space-16);
  padding-block: var(--space-16);
  scroll-margin: var(--space-16);
}

#all-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--space-16);
}

.single-product {
  box-shadow: 0px var(--space-2) var(--space-16) 0px var(--color-card-drop-shadow);
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--space-2);
  aspect-ratio: 3/5;
  text-align: center;
  padding: 3rem 2rem;
  cursor: pointer;
  gap: 3rem;
  transition: filter 0.15s;
}

.single-product:hover {
  filter: brightness(0.95);
}

.single-product img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.text-container {
  display: flex;
  justify-content: space-between;
  height: var(--space-40);
  flex-direction: column;
}

.text-container h4 {
  font-family: var(--font-rounded);
  font-size: var(--text-large);
}

.text-container p {
  font-family: var(--font-rounded);
  font-size: var(--text-large);
  color: var(--color-primary);
  font-weight: 700;
}


/* ---------- SIDE NAV ---------- */

.side-nav {
  position: sticky;
  top: var(--space-32);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.side-nav li input[type="radio"] {
  appearance: none;
  position: absolute;
}

.side-nav li label {
  background-color: transparent;
  width: 100%;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--space-2);
  color: var(--color-dark);
  border: none;
  text-align: start;
  display: block;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.15s;
}

.side-nav li label:hover {
  background-color: var(--color-filter-hover);
}

.side-nav li input[type="radio"]:checked+label {
  background-color: var(--color-active-filter);
  width: 100%;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--space-2);
  color: var(--color-dark);
  border: none;
  text-align: start;
  font-weight: 700;
}

@media (max-width: 890px) {
  section#catalog {
    grid-template-columns: 1fr;
  }

  .side-nav {
    display: flex;
    flex-direction: row;
  }

  .side-nav li {
    width: 100%;
  }

  aside {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

}

/* ---------- PRODUCT MODAL ---------- */

#product-modal::backdrop {
  background-color: var(--color-backdrop);
  opacity: 0.75;
}

#product-modal {
  inset: 0;
  margin: auto;
  max-width: 1200px;
  display: none;
  border: none;
  border-radius: var(--space-2);
  padding: var(--space-12);
  gap: var(--space-12);
}

#product-modal[open] {
  display: flex;
}

#product-modal img {
  max-width: 1000px;
  height: 500px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.close-modal {
  position: absolute;
  top: var(--space-4);
  right: var(--space-4);
  font-size: var(--text-4xlarge);
  background: none;
  color: inherit;
  border: none;
  padding: var(--space-2);
  cursor: pointer;
  outline: inherit;
  line-height: 1ch;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 700;
}

.modal-content h3 {
  font-size: var(--text-large);
}

.modal-content .product-price {
  font-size: var(--text-large);
  color: var(--color-primary);
  margin-top: var(--space-2);
  font-weight: 700;
}

.product-add-to-cart {
  padding: var(--space-2) var(--space-16);
  font-size: var(--text-large);
  border: none;
  border-radius: var(--space-2);
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
  transition: all 0.15s;
  width: 16rem;
}

.product-add-to-cart:hover {
  background-color: var(--color-primary-darker);
}

@media (max-width: 890px) {
  #product-modal[open] {
    display: flex;
    flex-direction: column;
  }

  #product-modal img {
    max-width: 100%;
    height: 728px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .side-nav li {
    width: 100%;
  }

  aside {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

}

/* ---------- BASKET MODAL ---------- */

#basket-modal::backdrop {
  background-color: var(--color-backdrop);
  opacity: 0.75;
}

#basket-modal {
  position: fixed;
  margin-left: auto;
  min-height: 100vh;
  display: none;
  border: none;
  border-radius: var(--space-2) 0 0 var(--space-2);
  padding: var(--space-4);
  background-color: var(--color-grey);
}

#basket-modal[open] {
  display: block;
}

#basket-modal>div {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#basket-modal h3 {
  font-size: var(--text-xlarge);
}

#basket-modal ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-top: var(--space-12);
  height: 100%;
  overflow-y: auto;
}

.basket-product {
  min-height: 8rem;
  display: flex;
  flex-direction: row;
  padding: var(--space-4);
  border-radius: var(--space-2);
  background-color: var(--color-white);
}

.basket-img {
  height: var(--space-24);
  width: var(--space-24);
  object-fit: contain;
}

.basket-product>div {
  padding: var(--space-2) var(--space-4);
}

#basket-modal>div>div {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--space-12);
  gap: var(--space-2);
}

.basket-total {
  font-size: var(--text-xlarge);
  font-weight: 700;
}

#to-checkout {
  padding: var(--space-2) var(--space-4);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--space-2);
  transition: all 0.15s;
  text-align: center;
}

#to-checkout:hover {
  background-color: var(--color-primary-darker);
}

@media (min-width: 768px) {
  #basket-modal {
    padding: var(--space-12);
    min-width: var(--space-40);
    min-height: 100vh;
  }

  #basket-modal ul {
    margin-top: var(--space-4);
  }

  #basket-modal>div>div {
    flex-direction: row;
    align-items: center;
  }
}